body, html{
    height: 100%;
    font-family: 'Alegreya Sans', sans-serif;

}
.btn {
    transition: all 0.3s ease-in-out;
}

@media(max-width:768px) {
    #header {
        text-align:center;
    }
    #header img {
        margin:20% auto 0;
    }
    #social {
        text-align:center;
    }
    #social hr, #who hr {
        margin:8% auto;
    }
    #first {
        text-align:center;
    }
    #first img {
        margin-top:15%;
    }
    #footer {
        text-align:center;
    }
}

.navbar {
    background-color:  rgb(165, 165, 165);
    border-bottom: 0.25px solid #383838;
    font-family: 'Alegreya Sans', sans-serif;
}
.navbar .navbar-nav .nav-link {
    color: #d1d1d1;
}
.navbar .navbar-nav .nav-link:hover {
    color: #ffffff;
}

.navbar-toogle-icon {
    color: #ffff;
}
/*Loader Class*/

 

/*End of Loader Class*/

/*HEADER*/


#header {
  background: url(../img/10-fruits-and-vegetables.jpg) center center no-repeat;
   background-size: cover;
   height: 100%;
   color: #ffffff;
    display: flex;
    align-items: center;
}

#header img {
    padding: 0 0 20px 0;
    width: 20%;
}
#header h1 {
   margin-top: 10%;
   color: #fafafa;
font-size: 100px;
}
#header h2 {
   color: #fcfbfa;
}
#header h3{
    color: #f29603;
}

#header .header-right {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 30px;
}
/*This header-right are the files for the rounded box near the game ABOVE THIS LINE*/

#header .fa {
    margin: 5% 0;
}
#header a .fa {
    color: white;
}
#header a .fa:hover {
    color: #ccc;
}
/*First intro*/
#first {
    padding:5rem 0;
    font-size: 1.25em;
    background-color:#00811e;
    background-color:#f6f6f6;
    font-family: 'Alegreya Sans', sans-serif;
}
#first h2 {
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
}
#first p {
    font-family: 'Oswald', sans-serif;
}
#second {
    padding:5rem 0;
    background-color:#e2e2e2;
}
#second h2 {
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
}
#third {
    padding:5rem 0;
    background-color:#e2e2e2;
}
#third h2 {
    font-size: 3em;
    font-family: 'Oswald', sans-serif;
}
/*Introducing Digital */
#first2 {
    padding:5rem 0;
    background-color:#8cb2e8;
    color: white;
}
#first2 h2 {
    font-size: 1.5em;
    font-family: 'Oswald', sans-serif;
}
#whydigital {
    padding:5rem 0;
    background-color:#8cb2e8;
    text-align: center;
    color: white;
    padding-left: 2rem 0;
    padding-right: 2rem 0;
}
.h2 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
   
}
/*Social Ends*/

#social {
    padding:5px 0;
    background-color: white;
}

#social .fab  {
    font-style:15px ;
    color:#af3c3c;
    border: 2px solid #af3c3c;
    width : 60px;
    height: 60px;
    border-radius: 20%;
    text-align: center;
    padding: 20% 0;
    margin-top: 10px;
}

#social .fab:hover  {
    color: aliceblue;
    background: #af3c3c; 
}


/*Card */
.flip-card {
  background-color: transparent;
  width: 280px;
  height: 350px;
  padding-right: 20px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #8cb2e8;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #0b0b0b;
  color: white;
  transform: rotateY(180deg);
}
/*Card Ends*/

/*Full infos*/
@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');

:root {
  --color: #3c3163;
  --transition-time: 1s;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #8cb2e8;
}

a {
  color: inherit;
}
#whydigital .flip-card{
  margin-right: 2px;
  margin-left: 2px;
}
.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: 'Heebo';
  --bg-filter-opacity: 0.5;
  background-image: linear-gradient(rgba(0,0,0,var(--bg-filter-opacity)),rgba(0,0,0,var(--bg-filter-opacity))), var(--bg-img);
  height: 30em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 1em;
  padding: 1em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 5em -1em black;
  transition: all, var(--transition-time);
  position: relative;
  overflow: hidden;
  border: 10px solid #ccc;
  text-decoration: none;
    
}
/*

border: 10px solid #ccc;
position: relative;
border-radius: 1em;
  padding: 1em;



*/
.card:hover {
  transform: rotate(0);
}

.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.card p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255,255,255,0.5);
  border-radius: 0.3rem;
  padding: 0 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, var(--transition-time);
}

.card:hover .tags .tag {
  background: var(--color);
  color: white;
}

.card .date {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: .8;
}

.card:before, .card:after {
  content: '';
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, var(--transition-time);
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #43679a;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card:hover {
  color: var(--color);
}

.card:hover:before, .card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    /margin-left: 0;
    /text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}

/*Full info ENds*/

/*trials*/
/


/*iN THE tRIALS*/

footer h1{
	text-align: center;
	font-size: 36px;
}
footer h3{
	text-align: center;
	font-size: 30px;
	padding: 20px;
	font-weight: 400;
	letter-spacing: 1px;

}
input[type=text] {
    
    padding: 12px 20px;
    margin: 9px 0;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    width: 40%;
    height:20%;
    boredr:1px solid #7c7b7b;
}
input[type=text]:hover {
	border:1px solid #000;
	transition: 6s;
}
::placeholder { 
    color: #000;
    opacity: 1;
    font-weight: 400;
    font-size: 20px;
    text-align: center;


}
footer button{
	height: 50px;
	padding: 0;
	margin: 0;
	
}
footer .btn{
	border-radius: 30px;
	width: 14%;
	margin-left: 5px;
	font-size: 20px;

}
footer{
	background: #000;
	text-align: center;
	padding: 10px;

}
footer p{
	color: #fff;
	padding: 10px;
	margin: 0;
	font-weight: 700;
	font-size: 20px;
}

